{% extends "base.html" %}

{% block content %}

{% load static %}

<!--load delete comment form for user to delete their comment-->
<form method="post" class="text-center">
    {% csrf_token %}
    <p> Are you sure {{ user.username }}, that you would like to <strong>delete</strong> your comment?</p>
    <input class="btn btn-danger btn-lg" type="submit" value="Yes">
    <div><br>
        <a href="{% url 'post_detail' comment.post.slug %}">
            <button type="button" class="btn-success btn-sm">Go Back</button></a>
        </div>
    </div>
</form>

{% endblock %}