{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<div class="row mt-5">
    <div class="col-12">
        <div>
            <!--load comment form for user to edit/replace their comment-->
            <form method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <div class="text-center">
                <input class="btn btn-warning" type="submit" value="Update">
                <div><br>
                    <a href="{% url 'post_detail' comment.post.slug %}">
                        <button type="button" class="btn-success btn-sm">Go Back</button></a>
                </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %} 